schemas/demisto.json
{"id": "Infocyte-Test", "version": 20, "fromversion": "5.5.0", "name": "Infocyte-Test", "description": "Test Playbook for Infocyte commands. Initiates a scan against a test target and verifies scan results.", "starttaskid": "0", "tasks": {"id": "0", "taskid": "470da016-9270-40e4-8f9f-48f9b144c741", "type": "start", "task": {"id": "72fb7bb1-a4bd-4408-895c-9d3a5c79dc13", "version": -1, "name": "Test Done", "type": "title", "iscommand": false, "brand": ""}, "nexttasks": {"yes": ["21"]}, "separatecontext": false, "view": "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 50\n  }\n}", "note": false, "timertriggers": [], "ignoreworker": false, "scriptarguments": {"application-id": {"simple": "${Tufin.Apps.ID}"}}, "conditions": [{"label": "yes", "condition": [[{"operator": "isNotEmpty", "left": {"value": {"simple": "Tufin.Apps.Connections.ID"}, "iscontext": true}}]]}]}, "view": "{\n  \"linkLabelsPosition\": {\n    \"6_12_yes\": 0.58,\n    \"8_10_yes\": 0.41\n  },\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 895,\n      \"width\": 1300,\n      \"x\": -320,\n      \"y\": 60\n    }\n  }\n}", "inputs": [{"key": "list-name", "value": {"simple": "ip4"}, "required": false, "description": "the name of the external file"}], "outputs": [], "toversion": "4.0.9", "contentitemfields": {"propagationLabels": []}, "vcShouldKeepItemLegacyProdMachine": false, "tests": ["No tests"], "commonfields": {"id": "PhishingIncident", "version": -1}, "script": "import base64\n\nMALICIOUS_TEXT = '2d8bb37078ff9efd02d9361975c9e625ae56bd8a8a65d50fc568341bc88392ae'\n\nargs = demisto.args()\n\nincidents = {\n    'name' : args['malicious_location'],\n    'labels' : json.dumps([\n        {'Email/from': 'test@demistodev.com'},\n        {'Email/to' : 'admin@demistodev.com'},\n    ]),\n    'rawJSON' : json.dumps({\n        'Type' : 'Phish',\n        'Subject' : 'Phishing test playbook',\n        'To' : 'admin@demistodev.com',\n        'From' : 'test@demistodev.com',\n    })\n}\n\ndemisto.executeCommand(\"setIncident\", incidents)", "type": "python", "subtype": "python2", "tags": [], "enabled": true, "args": [{"name": "malicious_location", "required": true, "auto": "PREDEFINED", "description": "", "predefined": ["attachment", "inline"]}], "scripttarget": 0, "runonce": false, "comment": ""}